<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">
		

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://github.com/ZNClub-PA-ML-AI">
				<img style="width:100px;height:60px;" 
				src="https://avatars2.githubusercontent.com/u/19271302?v=3&s=200" 
				alt="ZNClub-PA-ML-AI">
				</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html"><b>Home</b></a></li>					
					<li><a href="index.html#features"><b>Features</b></a></li>	
					<li><a href="index.html#motivation"><b>Motivation</b></a></li>
                    <li><a href="index.html#analytics"><b>Analytics</b></a></li>
                    <li><a href="index.html#technologies"><b>Technologies</b></a></li>
                    <li><a href="index.html#analysts"><b>Meet the Analysts</b></a></li>                
                </ul>
            </div>
        </div>
    </header><!--/header-->


         <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						
					</div>
				</div>
			</div>
		</div>
		
		
        <div class="section">
	    	<div class="container">
				<div class="row">
				<div class="col-sm-12">
						<h2></h2>
						<h3>Welcome to the Modern Stock Market Prediction Analytics Engine</h3>
						<p>
							Plan to put an SVG here
						</p>
						<div class="product-image-large">
	    					<img src="img/banner.jpg"
							alt="Item Name" style="width:400px;height:400px;">
	    				</div>
						
					</div>
				</div>
			</div>
		</div>

<hr>
<div id="features"></div>
		
		
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Platform Features</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	        <div class="container">
	        	<div class="row">
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-cogs icon-4x"></i>
		        			<h3>PREDICTION</h3>
		        			<p>Stock market trend prediction uses modern techniques to determing the technical factors of a stock price.</p>
		        			
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-globe icon-4x"></i>
		        			<h3>CLOUD</h3>
		        			<p>Get the latest trends and scores now anywhere across the globe as we provided one of the best cloud app experiences.</p>
		        			
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-bullseye icon-4x"></i>
		        			<h3>ACCURATE</h3>
		        			<p>Precision techniques ensure data accuracy always lies on the higher end of the scale and making sure that the error rates are recursively minimized.</p>
		        			
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-bar-chart icon-4x"></i>
		        			<h3>VISUALIZATION</h3>
		        			<p>No struggle with boring tables as we present modern responsive charts which also enables zoom in feature.</p>
		        			
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-mobile-phone icon-4x"></i>
		        			<h3>RESPONSIVE</h3>
		        			<p>Designed for all the modern desktop, tabs & mobile screens to display data smoothly.</p>
		        			
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-cloud-download icon-4x"></i>
		        			<h3>EXPORT</h3>
		        			<p>Chart export available to use for reporting and presentations all in one place.</p>
		        			
		        		</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
<hr>
<div id="motivation"></div>
<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Motivation</h1>
					</div>										
				</div>
			</div>
		</div>
        
        <div class="section">
	        <div class="container">
	        	<div class="row">
	        		<div class="product-image-large">
	    					<img src="img/motivation_sentiment.jpg"
							alt="Item Name" style="width:400px;height:400px;">
	    			</div>
					
	        	</div>
	        </div>
	    </div>


<hr>
		<div id="analytics"></div>
        
		
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Analytics Engine</h1>
					</div>
				</div>
			</div>
		</div>
        <div class="section">
	    	<div class="container">
	        	<div class="row">
				
	        		<div class="col-lg-12">
	        			<!-- Wrapper -->
	        			<div class="pricing-wrapper">
	        				
							<!-- module list -->
							<div class="pricing-plan">
								<!-- Ribbon -->
								<div class="ribbon-wrapper">
									<div class="price-ribbon ribbon-green">LIVE</div>
								</div>
								<h2 class="pricing-plan-title">Traditional Analysis</h2>
								<div class="pricing-plan-price">FREE</div>
								<ul class="pricing-plan-features">
									<li><strong>3</strong> companies</li>
									<li><strong>2</strong> visualizations</li>
									<li><strong>2</strong> predictions</li>
															
								</ul>							
								<a href="#traditional_entry" class="btn">Try Now</a>
							</div>
							<!-- End Pricing Plan -->
						    <div class="pricing-plan">
								<!-- Ribbon -->
								<div class="ribbon-wrapper">
									<div class="price-ribbon ribbon-green">LIVE</div>
								</div>
								<h2 class="pricing-plan-title">Twitter Analysis</h2>
								<div class="pricing-plan-price">FREE</div>
								<ul class="pricing-plan-features">
									<li><strong>1</strong> company</li>
									<li><strong>2</strong> visualizations</li>
									<li><strong>2</strong> predictions</li>
															
								</ul>
								<a href="#twitter_entry" class="btn">Try Now</a>
						    </div>
						    <!-- Promoted Pricing Plan (White Background) -->
						    <div class="pricing-plan">
									<!-- Ribbon -->
									<div class="ribbon-wrapper">
										<div class="price-ribbon ribbon-green">LIVE</div>
									</div>
									<h2 class="pricing-plan-title">Market News Analysis</h2>
									<div class="pricing-plan-price">FREE</div>
									<ul class="pricing-plan-features">
										<li><strong>3</strong> companies</li>
										<li><strong>2</strong> visualizations</li>
										<li><strong>2</strong> predictions</li>
																
									</ul>
								<a href="#market_news_entry" class="btn">Try Now</a>
						    </div>
						    <div class="pricing-plan ">
						    	<!-- Ribbon -->
								<div class="ribbon-wrapper">
									<div class="price-ribbon ribbon-green">LIVE</div>
								</div>
								<h2 class="pricing-plan-title">Hybrid Technique</h2>
								<div class="pricing-plan-price">FREE</div>
								<ul class="pricing-plan-features">
									<li><strong>1</strong> company</li>
									<li><strong>2</strong> visualizations</li>
									<li><strong>2</strong> predictions</li>
															
								</ul>
								<a href="#hybrid_entry" class="btn">Try Now</a>
						    </div>
						</div>
						<!-- End Module Intro Wrapper -->
	        		</div>
	        	</div>
	    	</div>
	    </div>


<hr>

		<div id="traditional_entry"></div>
		
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Traditional Analysis</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
	    		<div class="row">
	    			<!-- Product Image & Available Colors -->
	    			<div class="col-sm-6">
	    				<div class="product-image-large">
	    					<img src="img/icons/traditional.png"
							alt="Item Name" style="width:400px;height:400px;">
	    				</div>
	    				<div class="colors">
							<span class="color-white"></span>
							<span class="color-black"></span>
							<span class="color-blue"></span>
							<span class="color-orange"></span>
							<span class="color-green"></span>
						</div>
	    			</div>
	    			<!-- End Product Image & Available Colors -->
	    			<!-- Product Summary & Options -->
	    			<div class="col-sm-6 product-details">
	    				
						<h3>Quick Overview</h3>
	    				<ul>
							<li><strong>Technical Indicators of Stock Market</strong></li>
							<li><strong>National Stock Exchange, India</strong></li>
							<li><strong>CandleStick Chart</strong></li>
							<li><strong>Noise free series</strong></li>
							<li><strong>Prediction chart</strong></li>
							
						</ul>

						<h3>Analysis</h3>
						<ul>
							<li><strong>Data Source: </strong>Quandl</li>
							<li><strong>Data Preprocessing: </strong>Pandas</li>
							<li><strong>Data Analysis: </strong>Numpy</li>
							<li><strong>Predictive Modelling: </strong>Scikit</li>
							<li><strong>Data Visualization: </strong>Highcharts</li>
						</ul>
						<a href="traditional.html" class="btn">View Demo</a>
						<a href="#analytics" class="btn">Back to Analytics</a>
	    			</div>
	    			<!-- End Product Summary & Options -->
	    			
	    		</div>
			</div>
		</div>
		
<hr>

        <!-- Page Title -->
		<div id="twitter_entry"></div>
		
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Twitter Analysis</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
	    		<div class="row">
	    			<!-- Product Image & Available Colors -->
	    			<div class="col-sm-6">
	    				<div class="product-image-large">
	    					<img src="img/icons/twitter.png"
							alt="Item Name" style="width:400px;height:400px;">
	    				</div>
	    				<div class="colors">
							<span class="color-white"></span>
							<span class="color-black"></span>
							<span class="color-blue"></span>
							<span class="color-orange"></span>
							<span class="color-green"></span>
						</div>
	    			</div>
	    			<!-- End Product Image & Available Colors -->
	    			<!-- Product Summary & Options -->
	    			<div class="col-sm-6 product-details">
	    				
						<h3>Quick Overview</h3>
	    				<ul>
							<li><strong>Stock Market Tweets</strong></li>
							<li><strong>National Stock Exchange, India</strong></li>
							<li><strong>Sentiment Evaluation</strong></li>
							<li><strong>Noise free tweets</strong></li>
							<li><strong>Sentiment vs Price</strong></li>
							
						</ul>

						<h3>Analysis</h3>
						<ul>
							<li><strong>Data Source: </strong>Twitter,Tweepy</li>
							<li><strong>Data Preprocessing: </strong>Pandas</li>
							<li><strong>Data Analysis: </strong>VADER,Numpy</li>
							<li><strong>Predictive Modelling: </strong>Scikit</li>
							<li><strong>Data Visualization: </strong>Highcharts</li>
						</ul>
						<a href="twitter.html" class="btn">View Demo</a>
						<a href="#analytics" class="btn">Back to Analytics</a>
	    			</div>
	    			<!-- End Product Summary & Options -->
	    			
	    		</div>
			</div>
		</div>
		
<hr>

        <!-- Page Title -->
		<div id="market_news_entry"></div>
		
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Market News Analysis</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
	    		<div class="row">
	    			<!-- Product Image & Available Colors -->
	    			<div class="col-sm-6">
	    				<div class="product-image-large">
	    					<img src="img/icons/market-news.png"
							alt="Item Name" style="width:400px;height:400px;">
	    				</div>
	    				<div class="colors">
							<span class="color-white"></span>
							<span class="color-black"></span>
							<span class="color-blue"></span>
							<span class="color-orange"></span>
							<span class="color-green"></span>
						</div>
	    			</div>
	    			<!-- End Product Image & Available Colors -->
	    			<!-- Product Summary & Options -->
	    			<div class="col-sm-6 product-details">
	    				
						<h3>Quick Overview</h3>
							<ul>
							<li><strong>News of Stock Market</strong></li>
							<li><strong>National Stock Exchange, India</strong></li>
							<li><strong>Sentiment Evaluation</strong></li>
							<li><strong>Noise free series</strong></li>
							<li><strong>Sentiment vs Price</strong></li>
							
						</ul>

						<h3>Analysis</h3>
						<ul>
							<li><strong>Data Source: </strong>Livemint,Scrapy</li>
							<li><strong>Data Preprocessing: </strong>Pandas,BeautifulSoup</li>
							<li><strong>Data Analysis: </strong>VADER,Numpy</li>
							<li><strong>Predictive Modelling: </strong>Scikit</li>
							<li><strong>Data Visualization: </strong>Highcharts</li>
						</ul>
						<a href="market-news.html" class="btn">View Demo</a>
						<a href="#analytics" class="btn">Back to Analytics</a>
						</div>
	    			<!-- End Product Summary & Options -->
	    			
	    		</div>
			</div>
		</div>
		
<hr>

        <!-- Page Title -->
		<div id="hybrid_entry"></div>
		
		<div  class="section section-breadcrumbs" >
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Hybrid Technique</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
	    		<div class="row">
	    			<!-- Product Image & Available Colors -->
	    			<div class="col-sm-6">
	    				<div class="product-image-large">
	    					<img src="img/icons/hybrid.png"
							alt="Item Name" style="width:400px;height:400px;">
	    				</div>
	    				<div class="colors">
							<span class="color-white"></span>
							<span class="color-black"></span>
							<span class="color-blue"></span>
							<span class="color-orange"></span>
							<span class="color-green"></span>
						</div>
	    			</div>
	    			<!-- End Product Image & Available Colors -->
	    			<!-- Product Summary & Options -->
	    			<div class="col-sm-6 product-details">
	    				
						<h3>Quick Overview</h3>
	    				<ul>
							<li><strong>Hybrid Model based technique</strong></li>
							<li><strong>National Stock Exchange, India</strong></li>
							<li><strong>Sentiment & Technical analytics</strong></li>
							<li><strong>Continuous Data Integration</strong></li>
							<li><strong>Traditional vs Hybrid</strong></li>
							
						</ul>

						<h3>Analysis</h3>
						<ul>
							<li><strong>Data Source: </strong>Livemint,Scrapy,Twitter,Tweepy,Quandl</li>
							<li><strong>Data Preprocessing: </strong>Pandas,BeautifulSoup</li>
							<li><strong>Data Analysis: </strong>VADER,Numpy</li>
							<li><strong>Predictive Modelling: </strong>Scikit</li>
							<li><strong>Data Visualization: </strong>Highcharts</li>
						</ul>
						<a href="hybrid.html" class="btn">View Demo</a>
						<a href="#analytics" class="btn">Back to Analytics</a>
	    			</div>
	    			<!-- End Product Summary & Options -->
	    			
	    		</div>
			</div>
		</div>
		
<hr>

        <!-- Page Title -->
		<div id="technologies"></div>
		
		<div  class="section section-breadcrumbs" >
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Technology Power Stack</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
	    		<div class="row">
<ul class="grid cs-style-2">
	        	<div class="col-md-4 col-sm-6" >
					<a href="https://www.google.co.in/search?q=Python Programming" target="_blank">
					<figure>
						<img src="img/icons/python.png" alt="img02" style="width:300px;height:200px;">						
					</figure>
					</a>
	        	</div>	
				<div class="col-md-4 col-sm-6">
					<a href="https://www.google.co.in/search?q=JavaScript" target="_blank">
					<figure>
						<img src="img/icons/javascript.png" alt="img02" style="width:300px;height:200px;">						
					</figure>
					</a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="https://www.google.co.in/search?q=Linux Shell Scripting" target="_blank">
					<figure>
						<img src="img/icons/shell.png" alt="img02" style="width:300px;height:200px;">						
					</figure>
					</a>
				</div>
				
				<!-- --> 
				<div class="col-md-4 col-sm-6" >
					<a href="https://www.google.co.in/search?q=Quandl" target="_blank">
					<figure>
						<img src="img/icons/quandl.png" alt="img02" style="width:300px;height:200px;">						
					</figure>
					</a>
	        	</div>	
				<div class="col-md-4 col-sm-6">
					<a href="https://www.google.co.in/search?q=Scrapy Python" target="_blank">
					<figure>
						<img src="img/icons/scrapy.png" alt="img02" style="width:300px;height:200px;">						
					</figure>
					</a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="https://www.google.co.in/search?q=Tweepy" target="_blank">
					<figure>
						<img src="img/icons/tweepy.png" alt="img02" style="width:300px;height:200px;">						
					</figure>
					</a>
				</div>
				
				<!-- --> 
				<div class="col-md-4 col-sm-6" >
					<a href="https://www.google.co.in/search?q=MySQL" target="_blank">
					<figure>
						<img src="img/icons/mysql.png" alt="img02" style="width:300px;height:200px;">						
					</figure>
					</a>
	        	</div>	
				<div class="col-md-4 col-sm-6">
					<a href="https://www.google.co.in/search?q=JSON" target="_blank">
					<figure>
						<img src="img/icons/json.png" alt="img02" style="width:300px;height:200px;">						
					</figure>
					</a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="https://www.google.co.in/search?q=CSV file" target="_blank">
					<figure>
						<img src="img/icons/csv.jpg" alt="img02" style="width:300px;height:200px;">						
					</figure>
					</a>
				</div>
				
				<!-- --> 
				<div class="col-md-4 col-sm-6" >
					<a href="https://www.google.co.in/search?q=Pandas" target="_blank">
					<figure>
						<img src="img/icons/pandas.png" alt="img02" style="width:300px;height:200px;">						
					</figure>
					</a>
	        	</div>	
				<div class="col-md-4 col-sm-6">
					<a href="https://www.google.co.in/search?q=Numpy" target="_blank">
					<figure>
						<img src="img/icons/numpy.png" alt="img02" style="width:300px;height:200px;">						
					</figure>
					</a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="https://www.google.co.in/search?q=Scikit Learn file" target="_blank">
					<figure>
						<img src="img/icons/scikit.jpg" alt="img02" style="width:300px;height:200px;">						
					</figure>
					</a>
				</div>
			</ul>

	    		</div>
			</div>
		</div>
		
<hr>
	<div id="analysts"></div>
		
		<div  class="section section-breadcrumbs" >
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Meet the Team</h1>
					</div>
				</div>
			</div>
		</div>
        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Team Member -->
					<div class="col-md-4 col-sm-6">
						<div class="team-member">
							<!-- Team Member Photo -->
							<div class="team-member-image"><img src="https://avatars2.githubusercontent.com/u/14284762?v=3&s=96" alt="Name Surname"></div>
							<div class="team-member-info">
								<ul>
									<!-- Team Member Info & Social Links -->
									<li class="team-member-name">
										Melwyn Saldanha
										<!-- Team Member Social Links -->
										<span class="team-member-social">
											<a href="#"><i class="icon-facebook-blue"></i></a>
											<a href="#"><i class="icon-github"></i></a>
											<a href="#"><i class="icon-tumblr"></i></a>
										</span>
									</li>
									<li>Data Scientist, System Programming, Software Configuration, Cloud Setup</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End Team Member -->
					<div class="col-md-4 col-sm-6">
						<div class="team-member">
							<div class="team-member-image"><img src="https://avatars1.githubusercontent.com/u/14885458?v=3&s=96" 
							alt="Name Surname"></div>
							<div class="team-member-info">
								<ul>
									<li class="team-member-name">
										Crystal Cuthinho
										<span class="team-member-social">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-dribbble"></i></a>
											<a href="#"><i class="icon-tumblr"></i></a>
										</span>
									</li>
									<li>Twitter data analyst, Database architect, MySQL designer</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="team-member">
							<div class="team-member-image"><img src="https://avatars1.githubusercontent.com/u/14148433?v=3&s=96" alt="Name Surname"></div>
							<div class="team-member-info">
								<ul>
									<li class="team-member-name">
										Nevil Dsouza
										<span class="team-member-social">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-dribbble"></i></a>
											<a href="#"><i class="icon-tumblr"></i></a>
										</span>
									</li>
									<li>Web Scraping, Data Visualization, UI & UX, Cloud Computing</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<hr>

	    <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
			
		    	<div class="row">
				
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Contact Us</h3>
		    			<p class="contact-us-details">
	        				<b>Address:</b> 123 Downtown Avenue, Manhattan, New York, United States of America<br/>
	        				<b>Phone:</b> +1 123 45678910<br/>
	        				<b>Fax:</b> +1 123 45678910<br/>
	        				<b>Email:</b> <a href="mailto:info@yourcompanydomain.com">info@yourcompanydomain.com</a>
	        			</p>
		    		</div>				
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Our Social Networks</h3>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
		    			<div>
		    				<img src="img/icons/facebook.png" width="32" alt="Facebook">
		    				<img src="img/icons/twitter.png" width="32" alt="Twitter">
		    				<img src="img/icons/linkedin.png" width="32" alt="LinkedIn">
							<img src="img/icons/rss.png" width="32" alt="RSS Feed">
						</div>
		    		</div>
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>About Our Company</h3>
		    				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
		    		</div>

		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; 2014 <a href="http://www.vactualart.com/portfolio-item/basica-a-free-html5-template/">Basica</a> Bootstrap HTML Template. By <a href="http://www.vactualart.com">Vactual Art</a>.</div>
		    		</div>
		    	</div>
		    </div>
	    </div>

        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->		
		<script src="js/scrolling-nav.js"></script>		